* {
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
    margin: 0;
    padding: 0;
}
:root {
    --purple: #8E93FF;
    --gray: #292929;
}
li {
    list-style: none;
    color: white;
}
a {
    text-decoration: none;
}
h1 {
    color: white;
    font-size: 3em;
    text-shadow: 1px 1px 2px black;
}
h2 {
    font-size: 2em;
    color: white;
    text-shadow: 1.5px 1.5px 3px black;
}
#profile h2 {
    color: var(--gray);
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
}
h4 {
    color: white;
    padding: 0.5em 0;
}
img {
    max-width: 100%;
    width: 100%;
    height: 250px;
    object-fit: cover;
}
.flex {
    display: flex;
}
.grid {
    display: grid;
    padding: 2em 0;
}
section {
    
}
.container {
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

#navbar {
    background-color: var(--purple);
    padding: 1em 0;
    justify-content: center;
}
#navbar > * {
    max-width: 250px;
}
ul {
    justify-content: space-between;
}
#navbar a {
    font-size: 18px;
    color: white;
}

#welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--gray);
    height: calc(100vh - 53px);
}
#welcome-section p {
    color: var(--purple);
    font-style: italic;
    font-size: 22px;
    letter-spacing: 2px;
    margin-top: 0.25em;
}

#projects {
    background-color: var(--purple);
    padding: 2em 0;
}
.project-tile {
    display: inline-block;
    background: var(--gray);
    margin: 1em 0;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.6);
}
.project-tile + .project-tile {
    margin-top: 2em;
}
#projects > .container > a {
    display: block;
    width: fit-content;
    background: #FFE70C;
    box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.3);
    font-size: 1.1em;
    padding: 0.5em 1em;
    margin: 0.5em auto;
    border-radius: 10px;
    color: #292929;
}

#profile {
    padding: 2em 0;
}
#profile-link {
    padding: 1em 0;
}
#profile-link img {
    width: 250px;
    border-radius: 100%;    
    margin: 1em 0;
}
figcaption {
    font-size: 1.1em;
    font-weight: 500;

}
.contact-info {
    display: grid;
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    margin: 3em 0;

}
.contact-info a {
    background: var(--purple);
    color: white;
    box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.3);
    margin: 0.5em 0.25em;
    padding: 1em 1em;
    border-radius: 10px;    
}

footer {
    background-color: var(--purple);
    padding: 2em 0;
    font-style: italic;
}


/* ? ---------------------- MEDIA QUERIES -------------------- ? */
/* @media () {
    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
} */

/* TODO: Create a root of colors and use them as variables in certain places; color white property transfer to multiple elements (.something, something something {color: white;})
TODO: Just optimize the code, make sure a lot of things don't repeat themselves, etc. */